

.nav-pills {
  color: black;
  float: right;

}

.navbar-brand {
  size: 90px ;
}

.img {
  height: 90px;
  float: left;
}

h2 {
  float: right;
}

.bgimage {
  background-image: url('../img/hero.jpg');
  background-position: center;
  background-size: cover;
  background-color: pink;
  height: 200px;
}

h3 {
  color: #ffffff;
  text-align: center;
  padding-top: 25px;
}

.thumb_title {
  color: black;
  font-weight: bold;
  text-align: left;
}

.space {
  height: 15px;
}
